@import url("../fonts/fonts.css");

body {
    background-color: #21212c;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    padding: 20px 50px;
    display: flex;
    overflow: hidden;
}

.hidden {
    display: none;
}
