@import url("../fonts/fonts.css");

body {
    background-color: #21212c;
    color: #fff;
    font-family: "JetBrains Mono", monospace;
    padding: 20px 50px;
    display: flex;
    overflow: hidden;
}

button {
    font-family: inherit;
    border: none;
}

.hidden {
    display: none !important;
}

a {
    text-decoration: none;
    color: inherit;
}

#confirm-dialog {
    opacity: 0;
    pointer-events: none;
    display: flex;
    position: absolute;
    inset: 0;
    align-items: center;
    justify-content: center;
    transition: opacity 150ms ease;
    background-color: #0004;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #252c36;
        padding: 1em;
        border-radius: .5em;
        box-shadow: .2em .2em 1em #0008;
    }

    p {
        margin: 0 0 1em 0;
        padding: 0;
    }

    .title {
        color: #9ba4b4;
        font-size: .9em;
    }

    .actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 1em;
    }

    button {
        width: 100%;
        background-color: #3c4656;
        color: #fff;
        padding: .5em;
        border-radius: .5em;
        font-size: 1em;
        text-transform: uppercase;
        transition: background-color 100ms ease, transform 100ms ease;

        &:active {
            transform: translate(.1em, .1em);
        }
    }

    .cancel:hover {
        background-color: #c02121;
    }

    .confirm:hover {
        background-color: #1db424;
    }

    &.show {
        opacity: 1;
        pointer-events: all;
    }
}

@media (max-width: 768px) {
    #err-banner {
        display: flex;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        top: 1em;
        left: 1em;
        right: 1em;
        padding: 1em;
        background-color: #c02121;
        border-radius: 1em;
        box-shadow: .2em .2em 1em #0008;
        flex-direction: column;
        gap: .5em;
        transition: opacity 150ms ease;

        &.has-err {
            opacity: 1;
            pointer-events: all;
        }

        .progress {
            content: "";
            font-size: larger;
            height: 4px;
            border-radius: 4px;
            width: 100%;
            background-color: #fff;
            transition: width 10s;
        }

        &.has-err .progress {
            width: 0;
        }

        .title {
            margin: 0;
            padding: 0;
            font-size: 1em;
        }

        .where {
            margin: 0;
            padding: 0;
            font-size: .75em;
        }

        .message {
            background-color: #911919;
            padding: .75em;
            max-height: 5em;
            /* white-space: pre-wrap; */
            overflow: auto;
            margin: 0;
        }

        button {
            border: none;
            background-color: inherit;
            padding: .5em;
            border-radius: .75em;
            color: #fff;
            font-weight: 900;
        }

        button:hover {
            background-color: #f54b4b;
        }
    }
}
