#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 2.5%;
}

/* PANELS */
.panel {
    background-color: #2f3948;
    border-radius: 0.75em;
}

#top-panel {
    margin: 1.5% 1.5% 0 1.5%;
    width: 97%;
    height: 5%;
    /* background-color: red; */
}

#bottom-panel {
    margin: 0 1.5% 1.5% 1.5%;
    width: 97%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    gap: 1.5%;
}

#side-panel {
    width: 20%;
    /* background-color: purple; */
}

#main-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: orange; */
}

#chat-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}

/* CHAT BOX */
#chat-box {
    height: 5%;
    border-top: solid 0.2em #4e5c74;
    margin: 0 1.5%;
    display: flex;
    align-items: center;
    /* background-color: teal; */
}

#chat-field {
    width: 100%;
    outline: 0 solid transparent;
    margin: 0 .5em;
}

#chat-placeholder {
    display: none;
    position: absolute;
    margin: 0 .5em;
    color: #888;
    user-select: none;
    pointer-events: none;
}

#chat-field:focus ~ #chat-placeholder {
    display: none !important;
}

#chat-field:has(br:first-child:last-child) ~ #chat-placeholder,
#chat-field:empty ~ #chat-placeholder {
    display: inline;
}

/* MOBILE */
@media (max-width: 768px) {
    /* TODO: when the keyboard opens, does it shrink the entire website? */
    #top-panel {
        margin: 3% 3% 0 3%;
        width: 94%;
        height: 5%;
        /* background-color: red; */
    }

    #bottom-panel {
        display: flex;
        margin: 0 3% 3% 3%;
        width: 94%;
    }

    #main-panel {
        width: 100%;
    }

    #side-panel {
        width: 100%;
    }

    #bottom-panel[data-abc] {
        #main-panel {
            display: flex;
        }
        #side-panel {
            display: none;
        }
    }

    #bottom-panel:not([data-abc]) {
        #main-panel {
            display: none;
        }
        #side-panel {
            display: flex;
        }
    }
}
