#content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.main {
    display: none;
}

.main .message-container .message {
    margin: .4em 1em;
    display: flex;
    flex-direction: row;
    font-size: larger;

    .message-pfp img {
        width: 2.5em;
        height: 2.5em;
        border-radius: .625em;
    }

    .message-body {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 .5em;

        .message-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5em;

            .message-author {
                font-weight: 900;
            }

            .message-timestamp {
                font-weight: 100;
                color: #aaa;
                font-size: .8em;
            }
        }
    }

    &.own-message {
        flex-direction: row-reverse;
        justify-content: right;

        .message-body {
            align-items: end;

            .message-info {
                flex-direction: row-reverse;
                text-align: right;
            }

            .message-content {
                text-align: right;
            }
        }
    }
}

/* notif banner */

#push-notifications {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2em);
    /* height: 10%; */
    background-color: #3b485e;
    box-shadow: 0 .5em 1em #0003;
    padding: 0 1em;

    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;

    img {
        flex: 0 0 auto;
        width: 2em;
        height: 2em;
    }

    .notif-text {
        display: flex;
        flex-direction: column;
        gap: .5em;
        margin: .75em;
        flex: 1;
        min-width: 0;
    }

    p {
        margin: 0;
    }

    p:first-child {
        font-weight: 900;
        font-size: 1.1em;
    }

    button {
        flex: 0 0 auto;
        background-color: #4e5c74;
        color: #fff;
        font-family: inherit;
        border-radius: .5em;
        padding: .5em;
        font-size: .8em;
        height: 2em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dismiss {
        width: 2em;
    }

    #enable-notifications {
        background-color: #04a65a;
    }
}

/* MOBILE */
@media (max-width: 768px) {
    .menu-container {
        display: flex;
        flex-direction: column;
        height: calc(100% - 5em);
        overflow-x: hidden;
        overflow-y: auto;
    }

    .main {
        display: flex;
        position: absolute;
        inset: 0;
        left: 110%;
        width: 100%;
        height: 100%;
        background-color: #21212c;
        transition: left 100ms ease;

        &.drawer-open {
            left: 0;
        }

        .message-container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;

            .header {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 2em;
                padding: .5em;
                background-color: #21212c;
                border-bottom: 2px solid #4e5c74;

                .back-btn {
                    position: absolute;
                    top: .3em;
                    left: .3em;
                    display: flex;
                    background-color: #21212c;
                    color: #fff;
                    font-size: 1.4em;
                    padding: 0;
                    width: 1.4em;
                    height: 1.4em;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin: 0;
                    transform: translate(0, 0);

                    transition: background-color 100ms ease, transform 100ms ease;
                }

                .back-btn:hover {
                    background-color: #4e5c74;
                }

                .back-btn:active {
                    transform: translate(.1em, .1em);
                }

                .chat-name {
                    width: 100%;
                    text-align: center;
                    font-size: 1.5em;
                }
            }

            .messages {
                display: flex;
                flex-direction: column-reverse;
                height: calc(100% - 7em);
                overflow-x: hidden;
                overflow-y: auto;
            }

            .message-divider {
                width: 100%;
                display: flex;
                justify-content: center;
                color: #aaa;
                margin: 0.5em 0;
            }

            .chat-box {
                flex: 0 0 4em;
                border-top: solid 0.2em #4e5c74;
                margin: 0;
                padding: 0 .5em;
                height: 4em;
                display: flex;
                align-items: center;
                overflow: hidden;
            }

            .chat-field {
                width: 100%;
                outline: 0 solid transparent;
                margin: 0 .5em;
                overflow: auto;
                min-height: 1em;
                align-items: center;
            }

            .chat-field:focus ~ .chat-placeholder {
                display: none !important;
            }

            .chat-field:has(br:first-child:last-child) ~ .chat-placeholder,
            .chat-field:empty ~ .chat-placeholder {
                display: inline;
            }

            .chat-placeholder {
                display: none;
                position: absolute;
                margin: 0 .5em;
                color: #888;
                user-select: none;
                pointer-events: none;
            }
        }
    }
}
