#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 2.5%;
}

/* LOGIN MODAL */
#login-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-color: #21212c;
    /* gap: 1em; */
}

#login-modal[data-show] {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login-modal img {
    width: 6em;
    border-radius: 1.5em;
}

#login-modal input {
    background-color: #2f3948;
    border: none;
    width: 20em;
    height: 2em;
    border-radius: 0.5em;
    margin-top: 1em;
    outline: 0 solid transparent;
    color: #fff;
    padding: 0.5em 1em;
    font-family: "JetBrains Mono", monospace;
    transition: 150ms background-color;
}

#password-input.invalid {
    background-color: #ba2121;
}

#login-modal button {
    display: none;
    width: 8em;
    height: 2em;
    font-size: larger;
    background-color: #2f3948;
    color: #fff;
    border: none;
    outline: 0 solid transparent;
    margin-top: 1em;
    border-radius: 0.5em;
    font-family: "JetBrains Mono", monospace;
    font-weight: 900;
    transition: 50ms background-color, 10ms transform;
}

#login-modal button:hover {
    background-color: #118321;
}

#login-modal button:active {
    transform: scale(0.95);
}

#login-modal button:disabled {
    background-color: #4e5c74;
    color: #ddd;
    pointer-events: none;
    cursor: not-allowed;
}

#login-modal input:disabled {
    background-color: #4e5c74;
    color: #ddd;
    pointer-events: none;
    cursor: not-allowed;
}

#login-message {
    display: none;
    color: #ff2a2a;
    margin: 0;
    font-weight: 400;
}

/* PANELS */
.panel {
    background-color: #2f3948;
    border-radius: 0.75em;
}

#top-panel {
    margin: 1.5% 1.5% 0 1.5%;
    width: 97%;
    height: 5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* background-color: red; */
}

/* hide mobile menu button by default */
#top-panel #menu-btn {
    display: none;
}

#bottom-panel {
    margin: 0 1.5% 1.5% 1.5%;
    flex: 1 1 auto;
    min-height: 0;
    width: 97%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    gap: 1.5%;
}

#side-panel {
    width: 20%;
    overflow: hidden;
    /* background-color: purple; */
}

#main-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: orange; */
}

#chat-panel {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    /* background-color: aqua; */
}

/* USER INFO */
#user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    height: 100%;
    width: 21.5%; /* TODO: ?????????? */
    border-right: solid .2em #4e5c74;
    /* background-color: green; */
}

#user-info img {
    width: 2em;
    border-radius: 0.5em;
    margin: 1em;
}

#user-info h1 {
    font-size: larger;
}

#chat-info {
    width: 100%;
    font-size: larger;
    font-weight: 600;
    margin-left: 1.5em;
}

/* CHAT LIST IN SIDE PANEL */
#side-panel div {
    /* width: 100%; */
    height: 1em;
    /* background-color: blueviolet; */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.75em;
    font-size: larger;
    font-weight: 900;
    user-select: none;
    transition: 100ms background-color;
}

#side-panel div[data-selected] {
    background-color: #4e5c74;
}

#side-panel div:hover {
    background-color: #4e5c94;
}

#side-panel div #public-icon {
    margin-left: 0.5em;
    font-size: small;
    color: #ccc;
}

/* CHAT BOX */
#chat-box {
    flex: 0 0 5%;
    border-top: solid 0.2em #4e5c74;
    margin: 0 1.5%;
    display: flex;
    align-items: center;
    /* background-color: teal; */
}

#chat-field {
    width: 100%;
    outline: 0 solid transparent;
    margin: 0 0.5em;
    overflow: auto;
    height: 1em;
}

#chat-placeholder {
    display: none;
    position: absolute;
    margin: 0 0.5em;
    color: #888;
    user-select: none;
    pointer-events: none;
}

#chat-field:focus ~ #chat-placeholder {
    display: none !important;
}

#chat-field:has(br:first-child:last-child) ~ #chat-placeholder,
#chat-field:empty ~ #chat-placeholder {
    display: inline;
}

/* MESSAGES */
.message {
    margin: .4em 1em;
    display: flex;
    flex-direction: row;
    font-size: larger;

    .message-pfp img {
        width: 2.5em;
        height: 2.5em;
        border-radius: .625em;
    }

    .message-body {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin: 0 .5em;

        .message-info {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: .5em;

            .message-author {
                font-weight: 900;
            }

            .message-timestamp {
                font-weight: 100;
                color: #aaa;
                font-size: .8em;
            }
        }
    }
}

.message.own-message {
    flex-direction: row-reverse;
    justify-content: right;

    .message-body {
        align-items: end;

        .message-info {
            flex-direction: row-reverse;
        }
    }
}

.message-divider {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #aaa;
    margin: .5em 0;
}

/* MOBILE */
@media (max-width: 768px) {
    /* TODO: when the keyboard opens, does it shrink the entire website? */
    #top-panel {
        margin: 3% 3% 0 3%;
        width: 94%;
        height: 5%;
        /* background-color: red; */
    }

    #bottom-panel {
        display: flex;
        margin: 0 3% 3% 3%;
        width: 94%;
        height: 100%;
    }

    #main-panel {
        width: 100%;
    }

    #side-panel {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    #top-panel #menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5em;
        height: 2em;
        color: #fff;
        font-size: x-large;
    }

    #top-panel #user-info {
        border-right: none;
    }

    #top-panel #chat-info {
        margin-left: 0;
    }

    #content:not([data-showmenu]) {
        #top-panel {
            flex-direction: row-reverse;
            #user-info {
                display: none;
            }
            #menu-btn::before {
                content: "☰";
            }
        }

        #bottom-panel {
            #side-panel {
                display: none;
            }
        }
    }

    #content[data-showmenu] {
        #top-panel {
            #menu-btn {
                display: none;
            }
        }

        #bottom-panel {
            #main-panel {
                display: none;
            }
        }
    }
}
