#content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: blue;
    display: flex;
    flex-direction: column;
    gap: 3%;
}

#top-panel {
    margin: 1.5% 1.5% 0 1.5%;
    width: 97%;
    height: 5%;
    background-color: red;
}

#bottom-panel {
    margin: 0 1.5% 1.5% 1.5%;
    width: 97%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: row;
    gap: 1.5%;
}

#side-panel {
    width: 20%;
    background-color: purple;
}

#main-panel {
    width: 100%;
    background-color: orange;
}
