#content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.main {
    display: none;
}

/* MOBILE */
@media (max-width: 768px) {
    .menu-container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main {
        position: absolute;
        inset: 0;
        left: 110%;
        width: 100%;
        height: 100%;
        background-color: blue;
        transition: left 100ms ease;

        &.drawer-open {
            left: 0;
        }
    }
}
