#content {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #21212c;
}

img {
    width: 6em;
    border-radius: 1.5em;
}

#info {
    h1 {
        margin-bottom: 0;

        & + p {
            font-size: small;
            justify-self: left;
            margin: 0 0;
            padding: 0 0;
        }
    }

    #mode-switcher::before {
        display: inline-block;
        text-decoration: underline;
        content: "";
        cursor: pointer;
        transform: scale(1);
        transition: transform 100ms;
    }
    #mode-switcher:hover {
        display: inline-block;
        transform: scale(1.1);
    }
}

input {
    background-color: #2f3948;
    border: none;
    width: 20em;
    height: 2em;
    border-radius: 0.5em;
    margin-top: 1em;
    outline: 0 solid transparent;
    color: #fff;
    padding: 0.5em 1em;
    font-family: "JetBrains Mono", monospace;
    transition: 150ms background-color;
    text-transform: lowercase;

    &:disabled {
        background-color: #4e5c74;
        color: #ddd;
        pointer-events: none;
        cursor: not-allowed;
    }

    &:invalid {
        background-color: #ba2121;
    }

    &#username-input {
        display: none;
    }
}

button {
    display: none;
    width: 8em;
    height: 2em;
    font-size: larger;
    background-color: #2f3948;
    color: #fff;
    border: none;
    outline: 0 solid transparent;
    margin-top: 1em;
    border-radius: 0.5em;
    font-family: "JetBrains Mono", monospace;
    font-weight: 900;
    transition: 50ms background-color, 10ms transform;

    &:hover {
        background-color: #118321;
    }

    &:active {
        transform: scale(0.95);
    }

    &:disabled {
        background-color: #4e5c74;
        color: #ddd;
        pointer-events: none;
        cursor: not-allowed;
    }
}

input:invalid ~ div button,
input:placeholder-shown:not(#username-input) ~ div button {
    background-color: #4e5c74;
    color: #ddd;
    pointer-events: none;
    cursor: not-allowed;
}

&.mode-login {
    #username-input {
        display: none;
    }
    #login-button {
        display: inline;
    }
    #signup-button {
        display: none;
    }

    #info h1 #mode-switcher::before {
        content: "Log into";
    }
}

&.mode-signup {
    #username-input {
        display: block;
    }
    #login-button {
        display: none;
    }
    #signup-button {
        display: inline;
    }

    #info h1 #mode-switcher::before {
        content: "Sign up for";
    }
}

&.loading {
    /* Basically :disabled but for all */
    input,
    button {
        background-color: #4e5c74;
        color: #ddd;
        pointer-events: none;
        cursor: not-allowed;
    }
}

#login-message {
    display: inline;
    color: #ff2a2a;
    /* margin: 1em 0 0 0; */
    margin: 0;
    font-weight: 400;

    &:empty {
        display: none;
    }

    /* &::before {
        content: ""
    } */
}

/* #password-input:invalid ~ #login-message::before {
    content: "Password must include a number, uppercase, and lowercase letter, and be at least 6 characters long"
} */

.turnstile-wrapper {
    overflow: visible;
    /* min-width: 320px; */
    display: inline-block;

    .cf-turnstile {
        margin: 1em 0;
    }
}
