@media (max-width: 768px) {
    .messages-menu {
        display: flex;
        flex-direction: column;

        .message-card {
            display: flex;
            flex-direction: row;
            
            width: calc(100% - 2em);
            padding: 1em;
            gap: 1em;

            background-color: #21212c;
            transition: background-color 150ms ease;

            .img-container {
                width: 4em;
                height: 4em;
                overflow: hidden;
                border-radius: 50%;
                background-color: #252c36;
            }
            img {
                width: 4em;
                height: 4em;
            }

            .details {
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .details .contact-name {
                font-weight: 900;
            }

            &:hover {
                background-color: #2c333e;
            }
        }
    }
}
